.section > .about {
  padding-top: 125px;
  background-color: $pinkish-white-section-bg;
}
.section > .advantages {
  padding-top: 39px;
  padding-bottom: 97px;
  background-color: $pinkish-white-section-bg;
}
@media screen and (min-width: 768px) {
  .section.products {
    margin-bottom: 112px;
  }
}
@media screen and (min-width: 1280px) {
  .section.products {
    margin-top: 127px;
    margin-bottom: 119px;
  }
}
