$main-font: "DM Sans", sans-serif;
$secondary-font: "Titan One", cursive;

$base-color: #000000;
$pink-accent: #d41443;
$light-pink-accent: #ffa5ba;
$white-accent: #ffffff;
$greyish-accent: #907e82;

$light-pink-bg: #ffb8ca;
$dark-pink-bg: #e17992;
$ice-coffee-bg: #f0d1a5;
$milkshake-bg: #c2e297;
$pinkish-white-section-bg: #fff5f6;
$linear-gradient-mobile: #e18298;
